/* STYLES CSS */

/* ---------------------------------------------------------------------------------------------------------------------- */

/* START SETTINGS */

/* ---------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------------------- */

/* START RESPONSIV FUNCTIONS */

/* ---------------------------------------------------------------------------------------------------------------------- */

/* desktop */
@media (min-width: 1025px) {
    .hidden-desktop {
        display: none!important;
    }
}

/* tablette */
@media (min-width: 769px) and (max-width: 1024px) {
    .hidden-tablette {
        display: none!important;
    }
}

/* mobile */
@media (max-width: 768px) {
    .hidden-mobile {
        display: none!important;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* END RESPONSIV FUNCTIONS */

/* ---------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------------------- */

/* START FONTS */

/* ---------------------------------------------------------------------------------------------------------------------- */

/* import fonts */
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-display: swap;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* END FONTS */

/* ---------------------------------------------------------------------------------------------------------------------- */

:root {

    /* color palette */
    --white-color: #F6ECF6;
    --grey-color: #EFDDEE;
    --dark-grey-color: #423f49;
    --dark-color: #08001A;
    --lightness-color: #A7A3A7;
    --darkness-color: #36343C;

    --primary-color: #ef00d7;
    --secondary-color: #5200ff;
    --third-color: #16133e;

    --grey-bg: #6c6976;

    /* darkmode color palette */
    --primary-darkmode-color: #ffacee;
    --secondary-darkmode-color: #fb7ee5;
    --bg-body: #383545;
    --bg-darkness-element: #211e2f;
    --bg-2-darkness-element: #514e5d;
    --bg-3-darkness-element: #615469;

    /* font */
    --title-font: 'Roboto-Bold', 'sans-serif';
    --weight-text-font: 'Roboto-Medium', 'sans-serif';
    --text-font: 'Roboto', 'sans-serif';

    /* responsiv value */
    --res: calc(0.01 * 10vmin);

    /* font size base */
    --font-size-base: 14px;
    --line-height-base: 18px;

}

@media (min-width: 1920px) {
    :root {
        --font-size-base: 16px;
        --line-height-base: 24px;
    }
}

body {
    padding: 0px 8px 8px 8px;
    font-size: var(--font-size-base);
    overflow: hidden;
    background-color: var(--white-color);
}

/* typographic scale */
h1 {
    font-size: calc(61.04 * var(--res));
    font-family: var(--title-font);
    line-height: calc(61.04 * var(--res));
}
h2 {
    font-size: calc(48.83 * var(--res));
    font-family: var(--text-font);
    line-height: calc(48.83 * var(--res));
}
h3 {
    font-size: calc(39.06 * var(--res));
    font-family: var(--text-font);
    line-height: calc(39.06 * var(--res));
}
h4 {
    font-size: calc(31.25 * var(--res));
    font-family: var(--text-font);
    line-height: calc(31.25 * var(--res));
}
h5 {
    font-size: calc(25 * var(--res));
    font-family: var(--text-font);
    line-height: calc(25 * var(--res));
}
h6 {
    font-size: calc(20px * var(--res));
    font-family: var(--text-font);
    line-height: calc(20px * var(--res));
}

a {
    font-size: var(--font-size-base);
    font-family: var(--text-font);
    line-height: 24px;
}

strong {
    font-size: var(--font-size-base);
    font-family: var(--weight-text-font);
    font-weight: 500;
}

.small {
    font-size: 12.8px;
}

p, ul, ol, li, i, a, u, b {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
}

/* text align */
.t-center {
    text-align: center;
}
.t-justify {
    text-align: justify;
}

/* hight light effect whene select text */
::selection {
    background: var(--secondary-color);
    color: var(--white-color);
}
::-moz-selection {
    background: var(--secondary-color);
    color: var(--white-color);
}
a::selection, a::-moz-selection {
    background: none;
    color: inherit;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* END SETTINGS */

/* ---------------------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------------------- */

/* START DARKMODE */

/* ---------------------------------------------------------------------------------------------------------------------- */

body.light {
    background-color: var(--white-color);
}
body.dark {
    background-color: var(--bg-body);
}

body.dark section.hero, body.dark footer {
    background: var(--bg-darkness-element)!important;
}
body.dark section.darkness-section > div {
    background: var(--bg-darkness-element)!important;
}
body.dark .fourth-button.darkness {
    color: var(--white-color);
    border-color: var(--white-color);
    background-color: transparent;
}

/* text color whene lightmode actived */
body.light h1, body.light h2, body.light h3, body.light h4, body.light h5, body.light h6 {
    color: var(--dark-color);
}
body.light p, body.light ul, body.light ol, body.light li, body.light i, body.light u, body.light b {
    font-family: var(--text-font);
    color: var(--darkness-color);
}
body.light strong {
    font-family: var(--text-font);
    font-weight: 500;
    color: var(--dark-color);
}
/* text color whene darkmode actived */
body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark h5, body.dark h6 {
    color: var(--white-color);
}
body.dark p, body.dark ul, body.dark ol, body.dark li, body.dark i, body.dark u, body.dark b {
    font-family: var(--text-font);
    color: var(--lightness-color);
}
body.dark strong {
    font-family: var(--text-font);
    font-weight: 500;
    color: var(--white-color);
}

body.light .lightness-element {
    background: var(--third-color);
}
body.light .lightness-element p, body.light .lightness-element strong {
    color: var(--darkness-color) !important;
}
body.dark .lightness-element {
    background: var(--bg-darkness-element);
}
body.dark .lightness-element strong {
    color: var(--white-color) !important;
}
body.dark .lightness-element p {
    color: var(--lightness-color) !important;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* END DARKMODE */

/* ---------------------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------------------- */

/*  START CUSTOM CURSOR */

/* ---------------------------------------------------------------------------------------------------------------------- */

.cursor-custom-tear-effect {
    position: absolute;
    top: -16px;
    left: -16px;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    z-index: 9999;
    pointer-events: none;
}
/* darkmode theme */
body.light #cursor-custom, body.light .cursor-custom-tear-effect{
    background: var(--primary-color);
}
body.dark #cursor-custom, body.dark .cursor-custom-tear-effect{
    background: var(--primary-darkmode-color);
}

@keyframes cursorCustomApear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, i, a, u, b, a, strong {
    pointer-events: auto;
}

/* responsiv
@media (max-width: 768px) {
    #cursor-custom, .cursor-custom-tear-effect {
        opacity: 0;
    }
}*/

/* ---------------------------------------------------------------------------------------------------------------------- */

/*  END CUSTOM CURSOR */

/* ---------------------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------------------- */

/*  START LOADER */

/* ---------------------------------------------------------------------------------------------------------------------- */

div.logo-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div.logo-container svg {
    fill-opacity: 0;
    stroke: var(--dark-color);
    stroke-width: 1px;
    stroke-dasharray: 4500;
    will-change: transform;
    animation: drawLogo 8000ms ease-in-out both, apearLogo 600ms 1000ms ease-in both, desapearLogo 600ms 2600ms ease-in both;
}
body.light div.logo-container svg {
    stroke: var(--dark-color);
}
body.dark div.logo-container svg {
    stroke: var(--white-color);
}
body.dark div.logo-container svg path.one, body.dark div.logo-container svg path.two, body.dark div.logo-container svg path.three, body.dark div.logo-container svg path.five {
    fill: var(--white-color);
}
body.dark div.logo-container svg path.four, body.dark div.logo-container svg path.six {
    fill: var(--primary-darkmode-color);
}
@keyframes drawLogo {
    0% {
        stroke-dashoffset: 4500;
    } 100% {
        stroke-dashoffset: 0;
    }
}
@keyframes apearLogo {
    to {
        fill-opacity: 1;
        stroke-opacity: 0;
    }
}
@keyframes desapearLogo {
    to {
        fill-opacity: 0;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* END LOADER */

/* ---------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------------------- */

/*  START ANIMATIONS */

/* ---------------------------------------------------------------------------------------------------------------------- */

/* bounced apear */
@keyframes bouncedApear {
    from {
        transform: scale(1.2);
        opacity: 0;
    } to {
        transform: scale(1);
        opacity: 1;
    }
}
/* bounced Up apear (socials icons) */
@keyframes bounceUp {
    0% {
        opacity: 0;
        transform: translateY(8px);
    } 50% {
        opacity: 1;
        transform: translateY(-4px);
    } 100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* bounced Down apear (footer credit) */
@keyframes bounceDown {
    0% {
        opacity: 0;
        transform: translateY(-8px);
    } 50% {
        opacity: 1;
        transform: translateY(4px);
    } 100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* apear */
@keyframes apear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/* button */
@keyframes buttonApear {
    from {
        opacity: 0;
        transform: scale(1.1);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

/* title apear */
@keyframes apearTitle {
    from {
        background-size: 0% 100%;
    } to {
        background-size: 100% 100%;
    }
}

/* text reveal */
@keyframes textSlideUp {
    from {
        transform: translateY(8px);
    } to {
        transform: translateY(0);
    }
}
@keyframes textRotate {
    from {
        transform: rotate(2deg);
    } to {
        transform: rotate(0deg);
    }
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/*  END ANIMATIONS */

/* ---------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------------------- */

/*  START ELEMENTS */

/* ---------------------------------------------------------------------------------------------------------------------- */

/* section */
main {
    transform: translateY(-100%);
}
main.apear {
    will-change: transform;
    animation: mainApear 300ms ease-in-out both;
}
@keyframes mainApear {
    to {
        transform: translateY(0%);
    }
}
main::-webkit-scrollbar {
    display: none;
}
main div#main-section {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100vh;
}
@media (max-width: 768px) {
    main div#main-section {
        scroll-snap-type: initial;
    }
}
main section, main footer {
    background-attachment: fixed !important;
    scroll-snap-align: start;
}

section.darkness-section {
    padding: 8px 0px;
}
section.lightness-section > div {
    height: 100vh;
    max-width: 1424px;
    padding: 0px 152px;
    margin: 0px auto;
}
section.darkness-section > div {
    height: calc(100vh - 20px);
    border-radius: 56px;
    background: radial-gradient(177.13% 121.22% at 15.66% 35.67%, rgba(82, 0, 255, 0.08) 14%, rgba(8, 0, 26, 0.08) 70.5%), radial-gradient(195.4% 114.15% at 102.12% 80.23%, rgba(239, 0, 215, 0.08) 14%, rgba(8, 0, 26, 0.08) 70.5%), var(--dark-color);
}
section.darkness-section > div > div {
    max-width: 1424px;
    padding: 152px;
    margin: 0px auto;
}

/* section line */
.line {
    display: flex;
    flex-direction: row;
}
/* section column */
.column {
    display: flex;
    flex-direction: column;
}

/* responsiv */
/* mobile */
@media (max-width: 768px) {
    section.lightness-section > div {
        padding: 72px 16px;
        height: fit-content;
        min-height: calc(100vh - 144px);
    }
    section.darkness-section > div {
        padding: 72px 16px;
        height: fit-content;
        min-height: calc(100vh - 160px);
    }
}
/* tablette */
@media (min-width: 769px) and (max-width: 1024px) {
    section.lightness-section > div {
        padding: 72px 56px;
        height: fit-content;
        min-height: calc(100vh - 144px);
    }
    section.darkness-section > div {
        padding: 72px 56px;
        height: fit-content;
        min-height: calc(100vh - 160px);
    }
    section.darkness-section > div > div {
        max-width: 1424px;
        padding: 0px;
        margin: 0px auto;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* Button */
/* primary button */
.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.primary-button a {
    padding: 8px 24px;
    border-radius: 32px;
    transition: 300ms ease-in-out;
}
/* darkmode theme */
body.light .primary-button a {
    color: var(--white-color);
    background: linear-gradient(to right, var(--secondary-color) -78.12%, var(--primary-color) 68.67%);
}
body.dark .primary-button a {
    color: var(--bg-darkness-element);
    background: var(--primary-darkmode-color);
}
/* hover effect */
.primary-button:hover a {
    transform: translateY(-4px) scale(1.01);
}

/* secondary button */
.secondary-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondary-button a {
    padding: 8px 24px;
    border-radius: 32px;
    color: var(--dark-color);
    background: var(--dark-color);
    transition: 300ms ease-in-out;
}
.secondary-button.lightness a {
    color: var(--dark-color);
    background: var(--white-color);
}
/* hover effect */
.secondary-button:hover a {
    transform: translateY(-4px) scale(1.01);
}

/* third button */
.third-button {
    padding: 8px 24px;
    border: 1px solid;
    border-radius: 32px;
    color: var(--dark-color);
    border-color: var(--dark-color);
    background: transparent;
    transition: 300ms ease-in-out;
}
.third-button.darkness {
    color: var(--dark-color);
    border-color: var(--dark-color);
}
/* hover effect */
.third-button.darkness:hover {
    transform: translateY(-4px);
    background: rgba(0, 0, 0, 0.1);
}
.third-button.lightness {
    color: var(--white-color);
    border-color: var(--white-color);
}
/* hover effect */
.third-button.lightness:hover {
    transform: translateY(-4px);
    background: rgba(255, 255, 255, 0.3);
}

/* fourth button */
.fourth-button {
    padding: 6px 24px;
    border: 1px solid;
    border-radius: 32px;
    font-size: 12.8px;
    transition: 300ms ease-in-out;
}
.fourth-button.darkness {
    color: var(--dark-color);
    border-color: var(--dark-color);
    background-color: transparent;
}
/* hover effect */
.fourth-button.darkness:hover {
    background: rgba(0, 0, 0, 0.1);
}
.fourth-button.lightness {
    color: var(--white-color);
    border-color: var(--white-color);
    background-color: transparent;
}
/* hover effect */
.fourth-button.lightness:hover {
    background: rgba(255, 255, 255, 0.3);
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* Header */
header {
    position: fixed;
    width: calc(100% - 16px);
    z-index: 999;
    transition: 300ms ease;
    will-change: transform;
    animation: apearHeaderCookieBannerCitationDomLoaded 300ms 4500ms ease both;
}
@keyframes apearHeaderCookieBannerCitationDomLoaded {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
/* resposive */
@media (max-width: 1024px) {
    header {
        width: calc(100% - 24px);
    }
}

header.header-desapear-on-scroll {
    transform: translateY(-100%);
}
body.light header div.header-logo-container, header nav.header-nav-menu ul , header div.header-cta-container {
    background: rgba(8, 0, 26, 0.7);
    border: 1px solid rgba(246, 236, 246, 0.5);
}
/* darkmode theme */
body.dark header div.header-logo-container, body.dark header nav.header-nav-menu ul, body.dark header div.header-cta-container {
    background: var(--grey-bg);
    border: 1px solid var(--white-color);
}

header .header-logo-container {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 28px;
    border-radius: 32px 0px 32px 32px;
}
header .header-logo-container .logo {
    width: 70px;
    height: 30px;
    background-position-y: 8px;
    background-repeat: no-repeat;
    background-size: contain;
}
header .header-logo-container .text-link-visibility-none {
    display: none;
}
/* darkmode */
body.light header .header-logo-container .logo {
    background-image: url('../assets/images/logo-theo-ransay-light.png');
}
body.dark header .header-logo-container .logo {
    background-image: url('../assets/images/logo-theo-ransay-dark.png');
}
header .header-nav-menu ul {
    padding: 14px 32px;
    border-radius: 32px 32px 32px 32px;
}
header .header-cta-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 0px 32px 32px 32px;
}

header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 152px;
    max-width: 1424px;
    height: 48px;
    margin: 0 auto;
}

#header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 178px;
}

header #header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

header #header-logo img {
    height: 18px;
    width: auto;
    margin-bottom: -4px;
    transition: 300ms ease-in-out;
}
/* link header logo */
header #header-logo:hover img {
    transform: scale(0.9);
}

header nav.header-nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
header nav.header-nav-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}
header nav.header-nav-menu a {
    color: var(--white-color);
    transition: 300ms;
}
header nav.header-nav-menu a:hover {
    transition: 300ms;
}
/* darkmode theme header nav hover effect */
body.light header nav.header-nav-menu a:hover {
    color: var(--primary-color);
}
body.dark header nav.header-nav-menu a:hover {
    color: var(--primary-darkmode-color);
}
/* darkmode theme header nav page indicator */
body.light header nav.header-nav-menu a.active {
    color: var(--primary-color);
}
body.dark header nav.header-nav-menu a.active {
    color: var(--primary-darkmode-color);
}

/* darkmode buttons */
header #sun-button, header #moon-button {
    width: 14px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid var(--white-color);
    border-radius: 40px;
    background: transparent;
    cursor: pointer;
}
header #sun-button svg, header #moon-button svg {
    width: inherit;
    height: auto;
    fill: var(--white-color);
}
header #moon-button svg path {
    fill: var(--white-color);
}
/* darkmode buttons active indicator */
body.light #sun-button {
    background: rgba(255, 255, 255, 0.3);
}
body.dark #moon-button {
    background: rgba(255, 255, 255, 0.3);
}
/* darkmode buttons hover effect */
#sun-button, #moon-button {
    transition: 300ms ease-in-out;
}
body.light #moon-button:hover, #sun-button:hover {
    background: rgba(239, 0, 215, 0.3)!important;
}
body.dark #moon-button:hover, #sun-button:hover {
    background: rgba(255, 172, 238, 0.3)!important;
}
#moon-button > svg, #sun-button > svg {
    transition: 300ms ease-in-out;
}
#moon-button:hover > svg, #sun-button:hover > svg {
    transform: scale(0.8);
}

/* header call button */
header #header-call-button a {
    width: 14px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 32px;
    transition: 300ms ease-in-out;
}
/* darkmode theme */
body.light header #header-call-button a {
    background: linear-gradient(to right, var(--secondary-color) -78.12%, var(--primary-color) 68.67%);
}
body.dark header #header-call-button a {
    background: var(--primary-darkmode-color);
}

header #header-call-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
header #header-call-button svg {
    width: inherit;
    transition: 300ms ease-in-out;
}
header #header-call-button .text-link-visibility-none {
    display: none;
}
/* darkmode theme */
body.light header #header-call-button svg {
    fill: var(--white-color);
}
body.dark header #header-call-button svg {
    fill: var(--bg-darkness-element);
}
/* call button hover effect */
header #header-call-button:hover svg {
    transform: scale(0.8);
}
/* button nav mobile */
header #header-mobile-callback-button a {
    width: 14px;
    height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 8px;
    border-radius: 32px;
    color: var(--white-color);
    transition: 300ms ease-in-out;
}
body.light header #header-mobile-callback-button a {
    background: linear-gradient(to right, var(--secondary-color) -78.12%, var(--primary-color) 68.67%);
}
body.dark header #header-mobile-callback-button a {
    background: var(--primary-darkmode-color);
}
header #header-mobile-callback-button div {
    position: initial;
    transform-origin: center;
    width: 14px;
    height: 2px;
    background: var(--white-color);
    transform: rotate(0deg);
    transition: 150ms ease-in-out;
}
/* close menu indicator */
header #header-mobile-callback-button.open div:first-child {
    position: absolute;
    transform: rotate(45deg);
}
header #header-mobile-callback-button.open div:last-child {
    position: absolute;
    transform: rotate(-45deg);

}

/* header nav mobile */
nav#header-nav-mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: 300ms ease-in-out;
    transform: translateY(-100%);
}
body.light nav#header-nav-mobile-menu {
    background: var(--dark-color);
}
body.dark nav#header-nav-mobile-menu {
    background: #33233d;
}
nav#header-nav-mobile-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    font-size: calc(48.83 * var(--res));
    line-height: calc(48.83 * var(--res));
}
nav#header-nav-mobile-menu ul li a {
    color: var(--white-color);
}
nav#header-nav-mobile-menu ul li a:hover, header nav.header-nav-mobile-menu ul li:hover a {
    color: var(--primary-color);
}
/* darkmode theme header mobile page indicator */
body.light nav#header-nav-mobile-menu a.active {
    color: var(--primary-color);
}
body.dark nav#header-nav-mobile-menu a.active {
    color: var(--primary-darkmode-color);
}
body.dark nav#header-nav-mobile-menu li:hover a {
    color: var(--primary-darkmode-color);
}

/* open mobile menu */
nav#header-nav-mobile-menu.open {
    transform: translateY(0);
}

/* responsiv */
/* mobile */
@media (max-width: 768px) {

    header > div {
        padding: 8px 16px;
    }

}
/* tablette */
@media (min-width: 769px) and (max-width: 1024px) {

    header > div {
        padding: 16px 56px;
    }

}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* Footer */
footer {
    border-radius: 56px 56px 0px 0px;
    background: radial-gradient(34.5% 69.69% at 51.87% 71.78%, rgba(8, 0, 26, 0.24) 62.5%, rgba(8, 0, 26, 0.00) 100%), radial-gradient(195.4% 114.15% at 102.12% 80.23%, rgba(239, 0, 215, 0.08) 14%, rgba(8, 0, 26, 0.08) 70.5%), radial-gradient(177.13% 121.22% at 15.66% 35.67%, rgba(82, 0, 255, 0.08) 14%, rgba(8, 0, 26, 0.08) 70.5%), var(--dark-color);
    backdrop-filter: blur(2px);
}
footer .footer-map-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 32px;
    padding: 56px 152px 56px 152px;
    margin: 0px auto;
    max-width: 1424px;
}

/* footer section 1 */
footer .footer-first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* footer social icon */
footer .liste-social-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}
footer .liste-social-icon .link-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 56px;
    opacity: 0;
    transform: translateY(8px);
    transition: scale 300ms ease-in-out;
}
/* darkmode theme */
body.light footer .liste-social-icon .link-social-icon  {
    background: radial-gradient(42.17% 105.71% at 50% 51.43%, var(--white-color) 0%, var(--grey-color) 100%);
}
body.dark footer .liste-social-icon .link-social-icon  {
    background: transparent;
    border: 1px solid var(--white-color);
}
body.dark footer .liste-social-icon .link-social-icon svg, body.dark footer .liste-social-icon .link-social-icon svg path {
    fill: var(--white-color);
}
footer .liste-social-icon .link-social-icon .social-icon {
    height: fit-content;
}
/* animation */
footer.visible .liste-social-icon .link-social-icon:nth-child(1) {
    will-change: transform;
    animation: bounceUp 300ms ease-in-out forwards;
}
footer.visible .liste-social-icon .link-social-icon:nth-child(2) {
    will-change: transform;
    animation: bounceUp 300ms 100ms ease-in-out forwards;
}
footer.visible .liste-social-icon .link-social-icon:nth-child(3) {
    will-change: transform;
    animation: bounceUp 300ms 200ms ease-in-out forwards;
}
footer.visible .liste-social-icon .link-social-icon:nth-child(4) {
    will-change: transform;
    animation: bounceUp 300ms 300ms ease-in-out forwards;
}
footer.visible .liste-social-icon .link-social-icon:nth-child(5) {
    will-change: transform;
    animation: bounceUp 300ms 400ms ease-in-out forwards;
}

footer .liste-social-icon .link-social-icon:hover {
    transform: scale(1.04)!important;
}
footer .liste-social-icon .link-social-icon .social-icon {
    height: fit-content;
}

/* newsletter */
footer .newsletter {
    width: 32%;
    opacity: 0;
    transform: translateY(8px);
}
footer .newsletter form {
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 32px;
}
body.light footer .newsletter form {
    background: var(--white-color);
}
body.dark footer .newsletter form {
    background: transparent;
    border: 1px solid var(--white-color);
}
footer .newsletter form input[type="mail"] {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 8px 24px;
    width: calc(100% - 52px);
    border: none;
    border-radius: 32px;
}
body.light footer .newsletter form input[type="mail"] {
    color: var(--dark-color);
}
body.dark footer .newsletter form input[type="mail"] {
    color: var(--white-color);
}
footer .newsletter #response-message {
    position: absolute;
    top: -44px;
}
/* animation */
footer.visible .newsletter {
    will-change: transform;
    animation: bounceUp 300ms 300ms ease-in-out forwards;
}

/* section separator */
footer hr {
    width: 100%;
    height: 1px;
    border: none;
    background: rgba(255, 255, 255, 0.24);
}

/* footer section 2 */
footer .footer-second-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* footer logo */
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 247px;
    opacity: 0;
}
footer .footer-logo .logo {
    width: 188px;
    height: 64px;
    background-position-y: 8px;
    background-repeat: no-repeat;
    background-size: contain;
}
body.light footer .footer-logo .logo {
    background-image: url('../assets/images/logo-theo-ransay-light.png');
}
body.dark footer .footer-logo .logo {
    background-image: url('../assets/images/logo-theo-ransay-dark.png');
}

/* responsiv */
@media (max-width: 768px) {
    footer .footer-logo .logo {
        width: 100%;
        height: 116px;
    }
}

/* animation */
footer.visible .footer-logo {
    will-change: transform;
    animation: apear 300ms 850ms ease-in forwards;
}

/* footer site map */
footer .footer-site-map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 72px;
}
footer .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    opacity: 0;
}
footer strong {
    color: var(--white-color)!important;
}
footer .footer-second-line p, footer .footer-copyright p {
    color: var(--lightness-color)!important;
}
footer a {
    color: var(--lightness-color);
    transition: 300ms ease-in-out;
}
body.light footer a:hover {
    color: var(--primary-color);
}
body.dark footer a:hover {
    color: var(--primary-darkmode-color);
}
footer ul li {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
/* animation */
footer.visible .footer-nav:nth-child(1) {
    will-change: transform;
    animation: apear 300ms 1100ms ease-in forwards;
}
footer.visible .footer-nav:nth-child(2) {
    will-change: transform;
    animation: apear 300ms 1200ms ease-in forwards;
}
footer.visible .footer-nav:nth-child(3) {
    will-change: transform;
    animation: apear 300ms 1000ms ease-in forwards;
}

/* footer copyright */
footer .footer-copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    margin-bottom: 8px;
}
footer .footer-copyright > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 152px;
    margin: 0px auto;
    max-width: 1424px;
}
footer .footer-credits {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
footer .footer-credits p, footer .footer-copyright a {
    opacity: 0;
    transform: translateY(-8px);
}
/* animation */
footer.visible .footer-credits p:nth-child(1) {
    will-change: transform;
    animation: bounceDown 300ms 450ms ease-in-out forwards;
}
footer.visible .footer-credits p:nth-child(2) {
    will-change: transform;
    animation: bounceDown 300ms 550ms ease-in-out forwards;
}
footer.visible .footer-copyright a {
    will-change: transform;
    animation: bounceDown 300ms 700ms ease-in-out forwards;
}

/* responsiv */
/* mobile */
@media (max-width: 768px) {
    footer .footer-map-section {
        padding: 40px 32px 56px 32px;
    }
    footer .footer-first-line {
        flex-direction: column;
        gap: 48px;
    }
    footer .newsletter {
        width: 100%;
        order: -1;
    }
    footer .footer-second-line {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 48px;
        width: 100%;
    }
    .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        max-width: fit-content;
    }
    footer .footer-logo a {
        width: 100%;
    }
    footer .footer-logo img {
        max-width: 100%;
        width: 100%;
    }
    footer .footer-logo p {
        text-align: center;
    }
    footer .footer-site-map {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    footer .footer-copyright > div {
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
        padding: 16px 32px;
    }
}

/* tablette */
@media (min-width: 769px) and (max-width: 1024px) {

    footer .footer-map-section {
        padding: 40px 56px;
    }
    footer .footer-copyright > div {
        padding: 16px 56px;
    }

}

/* vignette */
.rounded-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 80px;
    background: linear-gradient(119deg, var(--white-color) -14.19%, var(--secondary-color) 222.44%);
    min-width: 24px;
    min-height: 24px;
}
.rounded-icon-container svg, .rounded-icon-container svg path {
    fill: var(--dark-color)!important;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/*  END ELEMENTS */

/* ---------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------------------- */

/*  START COOKIE BANNER AND CITATION */

/* ---------------------------------------------------------------------------------------------------------------------- */

/* cookie banner and citation container */
.bottom-float-container {
    position: fixed;
    bottom: 0;
    width: calc(100% - 16px);
    z-index: 999;
    transition: 300ms ease;
    will-change: transform;
    animation: apearHeaderCookieBannerCitationDomLoaded 300ms 4500ms ease both;
}
/* resposive */
@media (max-width: 1024px) {
    .bottom-float-container {
        width: calc(100% - 24px);
    }
}

.bottom-float-container.bottom-banner-desapear-on-scroll {
    transform: translateY(100%);
}
.cookie-banner-citation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 48px;
    max-width: 1424px;
    margin: 0 auto;
    padding: 16px 152px;
}

/* cookies banner */
#cookie-banner-container {
    display: none;
}
#cookie-banner-container.open {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    max-width: 400px;
    padding: 24px;
    border-radius: 32px 32px 32px 0px;
    transition: 300ms ease-in;
}
/* responsive */
@media (max-width: 768px) {
    #cookie-banner-container {
        width: calc(100vw - 100px);
    }
}
#cookies-consents-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
}
/* cookies banner content */
body.dark #cookie-banner-container p {
    color: var(--white-color);
    opacity: 0.7;
}
/* cookies banner buttons */
body.light form input[type="submit"].secondary-form-button {
    color: var(--white-color);
    border: 1px solid var(--white-color);
    border-color: var(--white-color);
    background: transparent;
    transition: 300ms ease-in;
}
form input[type="submit"].primary-form-button {
    transition: 300ms ease-in;
}
/* hover effect */
body.light form input[type="submit"].secondary-form-button:hover {
    background: rgba(255, 255, 255, 0.3);
}
body.dark form input[type="submit"].secondary-form-button {
    background: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    transition: 300ms ease-in;
}
body.dark form input[type="submit"].secondary-form-button:hover {
    background: rgba(255, 172, 238, 0.5);
}
form input[type="submit"].primary-form-button:hover {
    transform: translateY(-4px) scale(1.01);
}
/* cookie banner desapear on scrool */
.bottom-float-container.bottom-banner-desapear-on-scroll #cookie-banner-container {
    transform: translateY(100%);
}

/* custom consent modal */
#custom-cookies-consent-modal {
    display: none;
}
#custom-cookies-consent-modal.open {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(8, 0, 26, 0.7);
}
#custom-cookies-consent-modal .custom-cookies-consent-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    max-width: 768px;
    width: calc(100vw - 64px);
    height: fit-content;
    padding: 24px;
    border-radius: 16px;
    background: var(--white-color);
}
body.light .custom-cookies-consent-container strong, body.light .custom-cookies-consent-container label, body.dark .custom-cookies-consent-container strong, body.dark .custom-cookies-consent-container label {
    color: var(--dark-color);
}
body.light .custom-cookies-consent-container p, body.dark .custom-cookies-consent-container p {
    color: var(--darkness-color);
}
/* head consent modal */
#custom-cookies-consent-modal .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/* close button consent modal */
#custom-cookies-close-modal {
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
#custom-cookies-close-modal div {
    position: absolute;
    top: 8px;
    width: 16px;
    height: 1px;
    background: var(--dark-color);
}
#custom-cookies-close-modal div:first-child {
    transform: rotate(45deg);
}
#custom-cookies-close-modal div:last-child {
    transform: rotate(-45deg);
}
/* choices description */
#custom-cookies-consent-modal #custom-cookies-consent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
#custom-cookies-consent-modal .content-cookie-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
#custom-cookies-consent-modal .content-cookie-description label {
    position: initial;
    color: var(--dark-color);
    font-size: 16px;
}
#custom-cookies-consent-modal .content-choice-cookie {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#custom-cookies-consent-modal .content-choice-cookie input {
    width: fit-content;
    margin-left: 124px;
    margin-right: 24px;
}
/* responsive */
@media (max-width: 1024px) {
    #custom-cookies-consent-modal .content-choice-cookie input {
        width: fit-content;
        margin-left: 24px;
        margin-right: 16px;
    }
}

/* openner cookies banner */
#openner-consent-banner {
    width: 24px;
    height: 24px;
    padding: 16px;
    border: 1px solid rgba(246, 236, 246, 0.5);
    border-radius: 32px 32px 32px 0px;
    cursor: pointer;
}
body.light #openner-consent-banner {
    background: rgba(8, 0, 26, 0.7);
}
body.dark #openner-consent-banner {
    background: var(--grey-bg);
}
#openner-consent-banner svg {
    width: 100% !important;
    height: 100% !important;
}
#openner-consent-banner svg path {
    fill: var(--white-color);
}
#openner-consent-banner.close {
    display: none;
}

body.light #cookie-banner-container strong {
    color: var(--white-color);
}
body.light #cookie-banner-container p {
    color: var(--lightness-color);
}
body.light #cookie-banner-container, body.light .citation-container {
    background: rgba(8, 0, 26, 1);
    border: 1px solid rgba(246, 236, 246, 0.5);
}
body.dark #cookie-banner-container, body.dark .citation-container {
    background: var(--grey-bg);
    border: 1px solid rgba(246, 236, 246, 0.5);
}

/* citation container */
.citation-container {
    padding: 14px 24px;
    border-radius: 32px 32px 0px 32px;
}
.citation-container p {
    color: var(--white-color) !important;
}

/* responsive */
/* mobile */
@media (max-width: 768px) {

    .cookie-banner-citation-container {
        padding: 8px 16px;
    }

}
/* tablette */
@media (min-width: 769px) and (max-width: 1024px) {

    .cookie-banner-citation-container {
        padding: 16px 56px;
    }

}

/* ---------------------------------------------------------------------------------------------------------------------- */

/*  END COOKIE BANNER AND CITATION */

/* ---------------------------------------------------------------------------------------------------------------------- */