/*
* Page : all
* type : css
* Apply on fiew elements
*/

/* ---------------------------------------------------------------------------------------------------------------------- */

/*  START CAROUSEL STYLE */

/* ---------------------------------------------------------------------------------------------------------------------- */

/* carousel */
.splide {
    position: relative;
    visibility: visible;
}
.splide__list {
    max-width: 1424px;
    width: calc(100vw - 304px);
}
@media (min-width: 769px) and (max-width: 1024px) {
    .splide__list {
        max-width: 1424px;
        width: calc(100vw - 112px);
    }
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* carousel arrow */
.splide__arrows.splide__arrows--ltr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    order: 3;
    width: 300px;
    height: 40px;
}
.splide__arrow {
    position: relative;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    opacity: 1;
    transition: 300ms ease-in-out;
}

/* ---------------------------------------------------------------------------------------------------------------------- */


/* darkmode theme */
body.light .splide__arrow {
    background: linear-gradient(90deg, var(--secondary-color) -78.12%, var(--primary-color) 68.67%);
    opacity: 0.7;
}
.splide__arrow:hover {
    opacity: 1;
}
.splide__arrow:disabled:hover {
    opacity: 0.3;
}
body.dark .splide__arrow {
    background: var(--primary-darkmode-color);
    opacity: 0.7;
}
body.light .splide__arrow:disabled {
    background: transparent;
    opacity: 0.3;
}
body.dark .splide__arrow:disabled {
    background: transparent;
    opacity: 0.3;
}
/* svg */
.splide__arrow svg {
    fill: var(--white-color);
    transition: 300ms ease-in-out;
}
/* darkmode theme */
body.light .splide__arrow:disabled svg {
    fill: var(--dark-color);
}
body.dark .splide__arrow svg {
    fill: var(--bg-darkness-element);
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* prev and next carousel svg's */
.splide__arrow--prev {
    left: auto;
}
.splide__arrow--next {
    right: auto;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* disabled arrow */
.splide__arrow:disabled {
    border: 2px solid var(--dark-color);
    background: transparent;
    cursor: auto;
}
.splide__arrow:disabled svg {
    fill: var(--dark-color);
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* darkmode theme */
body.dark .splide__arrow:disabled {
    border: 2px solid var(--white-color);
    background: transparent;
}
body.dark .splide__arrow:disabled svg {
    fill: var(--white-color);
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* responsiv */
@media (max-width: 768px) {
    .reviews-container .reviews {
        height: calc(100vh - 144px);
    }
    .splide__track, .splide__list {
        width: 100%;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/*  END CAROUSEL STYLE */

/* ---------------------------------------------------------------------------------------------------------------------- */