/*
* Page : all
* type : css
* Apply on fiew elements
*/

/* ---------------------------------------------------------------------------------------------------------------------- */

/*  START FAQ STYLE */

/* ---------------------------------------------------------------------------------------------------------------------- */

/* faq */
section .faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0px 152px;
}
section .faq .faq-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/* card faq */
section .faq .contact-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 30%;
    padding: 56px;
    border-radius: 24px;
    border: 1px solid rgba(8, 0, 26, 0.24);
    background: rgba(246, 236, 246, 0.72);
    backdrop-filter: blur(2px);
    align-self: stretch;
    opacity: 0;
    transform: scale(1.1);
}
section .faq .faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 70%;
}
section .faq .faq-items-container {
    border-radius: 16px;
    border: 1px solid rgba(8, 0, 26, 0.24);
    background: rgba(246, 236, 246, 0.72);
    backdrop-filter: blur(36px);
    height: 72px;
    overflow: hidden;
    opacity: 0;
    transform: scale(1.1);
}

/* portfolio title content */
section#faq h2 {
    color: hsl(0 0% 100% / 0.2);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
}

/* animation */
section#faq.visible h2 {
    will-change: transform;
    animation: apearTitle 300ms ease-in forwards;
}
section.visible .faq .contact-card {
    will-change: transform;
    animation: bouncedApear 300ms 250ms ease-in forwards;
}
section.visible .faq .faq-items-container:first-child {
    will-change: transform;
    animation: bouncedApear 300ms 550ms ease-in forwards;
}
section.visible .faq .faq-items-container:last-child {
    will-change: transform;
    animation: bouncedApear 300ms 700ms ease-in forwards;
}
section.visible .faq .faq-items-container:nth-child(2) {
    will-change: transform;
    animation: bouncedApear 300ms 850ms ease-in forwards;
}

/* darkmode theme */
body.light section#faq h2  {
    background-image: linear-gradient(90deg, var(--dark-color), var(--dark-color));
}
body.dark section#faq h2  {
    background-image: linear-gradient(90deg, var(--white-color), var(--white-color));
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/* darkmode theme */
body.light section .faq .faq-items-container.open {
    border-radius: 16px;
    border: 1px solid rgba(8, 0, 26, 0.24);
    background: linear-gradient(119deg, rgba(82, 0, 255, 0.32) -103.45%, rgba(246, 236, 246, 0.32) 24.96%, rgba(246, 236, 246, 0.32) 78.27%, rgba(82, 0, 255, 0.32) 190.79%), var(--white-color);
    backdrop-filter: blur(36px);
    height: fit-content;
    overflow: hidden;
}
body.dark section .faq .faq-items-container.open.lightness-element {
    background: var(--bg-3-darkness-element);
    height: fit-content;
    overflow: hidden;
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/* head collapse container */
section .faq .collapse-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/* collapse content */
section .faq .collapse-content {
    padding: 0px 24px 24px 24px;
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/* open indicator container */
section .faq .faq-items-indicators {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/* darkmode theme */
body.light section .faq .faq-items-indicators div {
    width: 14px;
    height: 2px;
    background-color: var(--dark-color);
    transform-origin: center;
    position: absolute;
}
body.dark section .faq .faq-items-indicators div {
    width: 14px;
    height: 2px;
    background-color: var(--white-color);
    transform-origin: center;
    position: absolute;
}
body.dark section .faq .faq-items-container, body.dark section .faq .contact-card {
    background: var(--bg-darkness-element);
}
body.dark section .faq .contact-card svg path {
    fill: var(--white-color);
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/* open indicator */
section .faq .faq-items-container .faq-items-indicators div:last-child {
    transform: rotate(90deg);
    transition: 300ms;
}
section .faq .faq-items-container#open .faq-items-indicators div:last-child {
    transform: rotate(0deg);
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/* click effect */
.open .faq-items-indicators div:last-child {
    transform: rotate(180deg) !important;
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/* darkmode theme */
body.dark .collapse-container strong, body.dark .collapse-container p {
    color: var(--white-color) !important;
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/* responsiv */
@media (max-width: 768px) {
    section .faq .faq-content {
        flex-direction: column;
    }
    section .faq .contact-card {
        width: auto;
    }
    section .faq .faq-container {
        width: 100%;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/*  END FAQ STYLE */

/* ---------------------------------------------------------------------------------------------------------------------- */