/*
* Page : all
* type : css
* Apply on fiew elements
*/

/* ---------------------------------------------------------------------------------------------------------------------- */

/*  START REVIEWS STYLE */

/* ---------------------------------------------------------------------------------------------------------------------- */

/* reviews */
section .reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: calc(100vh - 304px);
}
section .reviews .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
section .reviews .review-slide-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 8px;
    border-radius: 16px;
    border: 1px solid rgba(8, 0, 26, 0.24);
    opacity: 0;
    transform: scale(1.2);
}
body.light section .reviews .review-slide-items.lightness-element {
    background: linear-gradient(119deg, rgba(82, 0, 255, 0.32) -103.45%, rgba(246, 236, 246, 0.32) 24.96%, rgba(246, 236, 246, 0.32) 78.27%, rgba(82, 0, 255, 0.32) 190.79%), var(--white-color);
    backdrop-filter: blur(36px);
}
body.dark section .reviews .review-slide-items.lightness-element {
    background: var(--bg-darkness-element);
    backdrop-filter: blur(36px);
}

/* aniamtion */
section.reviews-container.visible .reviews li.is-visible .review-slide-items {
    will-change: transform;
    animation: bouncedApear 300ms ease-in forwards;
}
section.reviews-container.visible .reviews li.is-visible:nth-child(1) .review-slide-items {
    will-change: transform;
    animation: bouncedApear 300ms ease-in forwards;
}
section.reviews-container.visible .reviews li.is-visible:nth-child(2) .review-slide-items {
    will-change: transform;
    animation: bouncedApear 300ms 100ms ease-in forwards;
}
section.reviews-container.visible .reviews li.is-visible:nth-child(3) .review-slide-items {
    will-change: transform;
    animation: bouncedApear 300ms 200ms ease-in forwards;
}
section.reviews-container .splide__arrows {
    opacity: 0;
}
section.reviews-container.visible .splide__arrows {
    will-change: transform;
    animation: apear 300ms 300ms ease-in forwards;
}

/* portfolio title content */
section.reviews-container .title-container h2, section.reviews-container .title-container p, section.reviews-container .title-container strong {
    color: hsl(0 0% 100% / 0.2);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
}

/* animation */
section.reviews-container.visible .title-container h2 {
    will-change: transform;
    animation: apearTitle 300ms 300ms ease-in forwards;
}
section.reviews-container.visible .title-container p {
    will-change: transform;
    animation: apearTitle 300ms 300ms ease-in forwards;
}
section.reviews-container.visible .title-container strong {
    will-change: transform;
    animation: apearTitle 300ms 300ms ease-in forwards;
}

/* darkmode theme */
body.light section.reviews-container .title-container  h2, body.light section.reviews-container .title-container strong  {
    background-image: linear-gradient(90deg, var(--dark-color), var(--dark-color));
}
body.dark section.reviews-container .title-container  h2, body.dark section.reviews-container .title-container strong {
    background-image: linear-gradient(90deg, var(--white-color), var(--white-color));
}
body.light section.reviews-container .title-container  p  {
    background-image: linear-gradient(90deg, var(--darkness-color), var(--darkness-color));
}
body.dark section.reviews-container .title-container  p  {
    background-image: linear-gradient(90deg, var(--lightness-color), var(--lightness-color));
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/*  END REVIEWS STYLE */

/* ---------------------------------------------------------------------------------------------------------------------- */